/* ---------- Background ---------- */

#bgimage{
  background-image: url('./assets/Image/BackGroundImg/BGROUND1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}




